<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target name="logfile" xsi:type="File" fileName="logs/log_nlog_config.txt" />
		<target name="logconsole" xsi:type="Console" />
	</targets>

	<rules>
		<logger name="*" minlevel="Error" writeTo="logconsole" />
		<logger name="*" minlevel="Error" writeTo="logfile" />
	</rules>
	
	<!-- In Visual Studio, make sure property "Copy to Output Directory" of NLog.config is set to "Copy always" 
			or else FileNotFoundException will occur in event viewer and log file will not be created -->
</nlog>